<div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
  <div class="col-md-8">
    <form [formGroup]="registerForm" (ngSubmit)="loginUser()">
      <h3 class="text-center">Register</h3>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="username" required minlength="4">
        <span *ngIf="username && username.invalid && username.touched" class="error text-danger">Username must be
          atleast 4 characters
          long</span>
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" formControlName="email">
        <span *ngIf="email && email.invalid && email.touched" class="error text-danger">Not valid email adress</span>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" required minlength="4">
        <span *ngIf="password && password.invalid && password.touched" class="error text-danger">{{title}}</span>
      </div>
      <div class="mb-3 ">
        <label class="form-label">Repeat Password</label>
        <input type="password" class="form-control" formControlName="repeat_password">
        <span class="error text-danger" *ngIf="password?.value !== repeat_password?.value">Password do not match!</span>
      </div>
      <button [disabled]="registerForm.invalid || password.value != repeat_password.value" type="submit"
        class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>